h1 {
    color: #885A89;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 20;
}

h4 {
    color: #885A89;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

body {
    background-color: #CBCBD4;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#quem-sou-eu {
    color: #885A89;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
}

#IG {
    color: #EE7B30;
}

.list-style {
    background-color: #D1B490;
    color: white;
    line-height: 20px;
}

a {
    text-decoration: none;
}